/*  your css code here. If applicable */
body{
	background-color:skyblue;

}
 #p{
        background-color: black;
       
        color:white;
      
        margin: 1px;
        font-size:20px ;
    }

    #para{
        color:black;
        font-size: 20px;;
    }
    #para-1{
        color:red;
        font-size:20px;
    }
    .list-1{
        background-color:white;
        height: 5vh;
      
     padding:5px;
    }
    
    .list-2{
        background-color:slategrey;
        height: 4vh;
        padding:4px;
    }
    .list-3{
        background-color: pink;
        padding:3px;
    }